.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 5rem;
  gap: 1px;
}

.tile {
  width: 30px;
  height: 30px;
  border: solid 1px white;
  align-items: center;
  justify-content: center;
  display: flex;
}

.tileRow {
  align-items: center;
  display: flex;
  gap: 1px;
}